.text-toggle {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0,0,0,0.99);
  user-select: none;
  cursor: default;
}

.text-toggle, .text-toggle * {
  box-sizing: border-box;
}

.toggle {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.15s ease-in;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-toggle {
  background: #333;
  color: #DDD;
  left: 0%;
}
.right-toggle {
  background: #555;
  color: yellowgreen;
  left: 100%;
}

.extra {
  grid-column: 1;
  grid-row: 1;
  visibility: hidden;
}

.toggle-group {
  display: grid;
  padding: 5px;
}